#aboutMe{
    padding-top: 50px;
   
}
#garnettPicture{
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    object-position: 60% 60%; 
    border: 5px solid black;
}
nav{
    background: #4986b3;
    top: 0 !important; 
    z-index: 1 !important;
    position: sticky !important;
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 0.7px 0.7px 0.7px 0.7px;
}
img{
    border: 5px solid black;
    padding: 0 !important;
    margin: 10px;
}
#setasLogo{
    border-radius: 50%;
}
nav a {
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: black;
}

#allPage{
    background-color: #cbe9ff;
}

#studentWebsite{
    border: 5px solid black;
    object-fit: contain;
}
#studentWebsiteDiv{
    padding-top: 75px;
}

#companyProjects{
    padding-bottom: 75px;
    background-color: #d5eeff !important;
}
#logoGallery{
    text-align: center;
}


/*  
#logoGallery figure {
    width: 25%;
    float: left;
    margin: 0;
    text-align: center;
    padding: 0;
}  */


figure img {
    padding: 5px;
}
figure{
    margin-bottom: auto !important;
}

#teamDream{
    padding-top: 75px;
    padding-bottom: 75px;
}

#logoGallery{
    padding-bottom: 75px;
}

h2{
    background-color: #4986b3;
    padding: 10px;
    padding-bottom: 15px;
    color: white;
    margin-bottom: auto !important;
}

figcaption{
    font-weight: bold;

}
#studentWebsiteBg{
    background-color: #d5eeff;
    padding-bottom: 75px;
    padding-top: 75px;
}
footer{
    color: white;
    font-weight: bold;
    margin-top: 100px;
    padding-top: 30px;
padding-bottom: 30px;
background-color: #4986b3;
font-style: italic;
}

#sisterTales figure{
    padding-top: 75px;
}

.gallery img{
    transition: 1s;

}
.gallery img:hover{
    filter:brightness();
    transform: scale(1.1);
}

.gallery2 img{
    transition: 1s;

}
.gallery2 img:hover{
    filter:brightness();
    transform: scale(1.1);
}

.gallery3 img{
    transition: 1s;

}
.gallery3 img:hover{
    filter:brightness();
    transform: scale(1.1);
}
.galleryLogo img{
    transition: 1s;

}
.galleryLogo img:hover{
    filter:brightness();
    transform: scale(1.1);
}